body {
    font-family: "League Spartan", "sans-serif";
}

.container {
    padding-top: 10%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header rating"
        "cards cards";
}

.header {
    grid-area: header;
    padding-right: 170px;
}

.rating {
    grid-area: rating;
    /* margin-bottom: 20px; */
    padding-top: 25px;
}

.cards {
    margin-top: 20px;
    grid-area: cards;
    display: flex;
    align-content: stretch;
}

p {
    color: grey;
    font-size: 18px;
    font-weight: 500;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 48px;
}

h5 {
    color: hsl(300, 43%, 22%);
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
}

.rate {
    background-color: rgb(211, 206, 206);
    padding: 15px;
    margin: 20px;
    width: 400px;
    display: flex;
    border-radius: 6px;

}

.rate-2 {
    margin-left: 60px;
}

.rate-3 {
    margin-left: 140px;
}

.stars-lg {
    background-image: url("images/icon-star.svg");
    background-repeat: space;
    background-position: initial;
    background-size: 17px 16px;
    height: 16px;
    width: 100px;
}

.card {
    width: 33%;
    background-color: hsl(301, 45%, 22%);
    border-radius: 10px;
    height: 220px;
}

.card-1 {
    margin-right: 20px;
}

.card-2 {
    margin-top: 20px;
    margin-right: 10px;
}

.card-3 {
    margin-top: 40px;
    margin-left: 10px;
}

.card-text {
    color: white;
    font-size: 15px;
    padding: 20px 40px 0px 40px;
    line-height: 1.6;
}

.card-header {
    display: flex;
    padding: 30px 0px 0px 25px;
}

.card-header-image {
    position: relative;
}

.card-header-image img {
    position: absolute;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.card-header-text {
    margin-left: 80px;
}

.card-header-text p {
    margin: 5px 0px 5px 0px;
    font-size: 17px;
}

.card-header-name {
    color: white;
}

.card-header-verified {
    color: hsl(324, 41%, 43%);
}

img {
    border-radius: 40px;
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: 10%;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        grid-template-areas: none;
    }

    .header {
        padding-right: 0px;
        text-align: center;
    }

    h1 {
        color: hsl(300, 43%, 22%);
        font-size: 36px;
    }

    .rate-2 {
        margin-left: 0px;
    }

    .rate-3 {
        margin-left: 0px;
    }

    .rate {
        margin: 20px;
        width: auto;
        display: block;
        text-align: center;
        justify-content: center;
    }

    .stars-lg {
        margin: auto;
        width: 100px;
        padding-top: 15px;
    }

    .cards {
        margin-top: 20px;
        grid-area: cards;
        display: block;
    }
    .card {
        width: auto;
        background-color: hsl(301, 45%, 22%);
        border-radius: 10px;
        height: 220px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .card-2 {
        margin-top: 0px;
    }
    
    .card-3 {
        margin-top: 0px;
    }
}